<!-- <p>create-detail works!</p>
<form (ngSubmit)="saveData(playerdetail)" #playerForm="ngForm">
    <div>
        <label for="teamid"></label>
        <input type="text" name="teamid" id="teamid" placeholder="teamid" [(ngModel)]="playerdetail.teamid">
    </div>


    <div>
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="name" [(ngModel)]="playerdetail.name">
    </div>

    <div>
        <label for="age"></label>
        <input type="text" name="age" id="age" placeholder="age" [(ngModel)]="playerdetail.age">
    </div>

    <div>
        <label for="biddingprice"></label>
        <input type="text" name="biddingprice" id="biddingprice" placeholder="biddingprice" [(ngModel)]="playerdetail.biddingprice">
    </div>



    <input type="submit" value="Save Details">
</form> -->