<p>create-detail works!</p>
<form (ngSubmit)="saveData(playerdetail)" #detailForm="ngForm">
    <div>
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="name" [(ngModel)]="playerdetail.name">
    </div>

    <div>
        <select name="teamid" id="teamid" [(ngModel)]="playerdetail.teamid">
            <option *ngFor="let sd of showdata" [value]="sd.teamId">
                {{sd.teamName}}
            </option>
        </select>
    </div>

    <div>
        <label for="age"></label>
        <input type="text" name="age" id="age" placeholder="age" [(ngModel)]="playerdetail.age">
    </div>

    <div>
        <label for="category"></label>
        <input type="text" name="category" id="category" placeholder="category" [(ngModel)]="playerdetail.category">
    </div>

    <div>
        <label for="biddingprice"></label>
        <input type="text" name="biddingprice" id="biddingprice" placeholder="biddingprice" [(ngModel)]="playerdetail.biddingprice">
    </div>



    <input type="submit" value="Save Details">
</form>