<p>create-detail works!</p>
<form (ngSubmit)="saveData(playerdata)" #detailForm="ngForm">
    <div>
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="name" [(ngModel)]="playerdata.name" #actor="ngModel">
    </div>

    <div>
        <select name="teamid" id="teamid" [(ngModel)]="playerdata.teamid">
            <option *ngFor="let sd of showdata" [value]="sd.teamId">
                {{sd.teamName}}
            </option>
        </select>
    </div>

    <div>
        <label for="Gender"></label>
        <input type="text" name="gender" id="gender" placeholder="Gender" [(ngModel)]="moviedetail.gender" #gender="ngModel">
    </div>

    <div>
        <select name="role" id="role" [(ngModel)]="moviedetail.role">
            <option value="Hero">Hero</option>
            <option value="Villian">Villian</option>

        </select>
    </div>

    <input type="submit" value="Save Details">
</form>